.courseWrapper {
    width: 100%;
    padding: 0.5rem;
    flex-grow: 1;
}

img {
    width: 100%;
}

.card {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.body {
    padding: 0.5rem;
}

.wrapper {
    margin: 0;
}

.title {
    font-weight: 900;
    margin: 0.5rem 0;
    font-size: 20px !important;
}

.instructors {
    color: grey;
    margin: 0.5rem 0;
    font-size: medium !important;
}

.title,
.instructors {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rating {
    display: inline;
    font-weight: bold;
    color: rgb(223, 93, 0);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.starsOuter {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.starsOuter::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.starsInner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.starsInner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color:rgb(222, 136, 15);
}

.price {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

@media only screen and (min-width: 700px){
    .courseWrapper {
        width: 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 850px){
    .courseWrapper {
        width: 30%;
        max-width: 30%;
    }
}

@media only screen and (min-width: 1200px){
    .courseWrapper {
        width: 25%;
        max-width: 25%;
    }
}
